#sunfw_section_content {
  padding-top: 15px;
  padding-bottom: 0px;
}
#sunfw_section_footer {
  padding-top: 50px;
  padding-bottom: 0px;
}
#sunfw_section_promo {
  margin-top: 30px;
}
#sunfw_section_content-top {
  margin-top: 15px;
  margin-bottom: 15px;
}
#sunfw_section_bottom {
  padding-top: 15px;
  padding-bottom: 50px;
}
#sunfw_section_footer-newsletter {
  padding-top: 50px;
  padding-bottom: 50px;
}
#row_row-3 {
  padding-bottom: 30px;
}
#row_row-6 {
  margin-top: 30px;
  margin-bottom: 25px;
}
#column_column-6 {
  margin-bottom: 30px;
}
#column_column-10 {
  margin-top: 5px;
}
