#sunfw_section_content-top-full {
  background-color: #ededed;
}
#sunfw_section_footer {
  background-color: #202020;
  color: #5b728a;
}
#sunfw_section_footer h1, #sunfw_section_footer h2, #sunfw_section_footer h3, #sunfw_section_footer h4, #sunfw_section_footer h5, #sunfw_section_footer h6, #sunfw_section_footer .h1, #sunfw_section_footer .h2, #sunfw_section_footer .h3, #sunfw_section_footer .h4, #sunfw_section_footer .h5, #sunfw_section_footer .h6 {
  color: #fff;
  text-transform: uppercase;
}
#sunfw_section_footer a {
  color: #5b728a;
}
#sunfw_section_footer a:hover {
  color: #f45245;
}
#sunfw_section_copyright {
  background-color: #202020;
  color: #5b728a;
  font-size: 12px;
}
#sunfw_section_copyright h1, #sunfw_section_copyright h2, #sunfw_section_copyright h3, #sunfw_section_copyright h4, #sunfw_section_copyright h5, #sunfw_section_copyright h6, #sunfw_section_copyright .h1, #sunfw_section_copyright .h2, #sunfw_section_copyright .h3, #sunfw_section_copyright .h4, #sunfw_section_copyright .h5, #sunfw_section_copyright .h6 {
  color: #fff;
  line-height: 1.4;
}
#sunfw_section_copyright h1, #sunfw_section_copyright .h1 {
  font-size: 28px;
}
#sunfw_section_copyright h2, #sunfw_section_copyright .h2 {
  font-size: 23px;
}
#sunfw_section_copyright h3, #sunfw_section_copyright .h3 {
  font-size: 19px;
}
#sunfw_section_copyright h4, #sunfw_section_copyright .h4 {
  font-size: 14px;
}
#sunfw_section_copyright h5, #sunfw_section_copyright .h5 {
  font-size: 11px;
}
#sunfw_section_copyright h6, #sunfw_section_copyright .h6 {
  font-size: 10px;
}
#sunfw_section_copyright a {
  color: #f45245;
}
#sunfw_section_content-top-over {
  background-color: #f0f2f5;
}
#sunfw_section_header {
  background-color: #f45245;
}
#sunfw_section_topbar {
  background-color: #000;
  color: #fff;
  font-size: 14px;
}
#sunfw_section_topbar h1, #sunfw_section_topbar h2, #sunfw_section_topbar h3, #sunfw_section_topbar h4, #sunfw_section_topbar h5, #sunfw_section_topbar h6, #sunfw_section_topbar .h1, #sunfw_section_topbar .h2, #sunfw_section_topbar .h3, #sunfw_section_topbar .h4, #sunfw_section_topbar .h5, #sunfw_section_topbar .h6 {
  color: #fff;
  line-height: 1.4;
}
#sunfw_section_topbar h1, #sunfw_section_topbar .h1 {
  font-size: 28px;
}
#sunfw_section_topbar h2, #sunfw_section_topbar .h2 {
  font-size: 23px;
}
#sunfw_section_topbar h3, #sunfw_section_topbar .h3 {
  font-size: 19px;
}
#sunfw_section_topbar h4, #sunfw_section_topbar .h4 {
  font-size: 14px;
}
#sunfw_section_topbar h5, #sunfw_section_topbar .h5 {
  font-size: 11px;
}
#sunfw_section_topbar h6, #sunfw_section_topbar .h6 {
  font-size: 10px;
}
#sunfw_section_topbar a {
  color: #838382;
}
#sunfw_section_footer-newsletter {
  background-color: #313131;
}
#sunfw_section_footer-newsletter h1, #sunfw_section_footer-newsletter h2, #sunfw_section_footer-newsletter h3, #sunfw_section_footer-newsletter h4, #sunfw_section_footer-newsletter h5, #sunfw_section_footer-newsletter h6, #sunfw_section_footer-newsletter .h1, #sunfw_section_footer-newsletter .h2, #sunfw_section_footer-newsletter .h3, #sunfw_section_footer-newsletter .h4, #sunfw_section_footer-newsletter .h5, #sunfw_section_footer-newsletter .h6 {
  color: #fff;
  line-height: 1.4;
}
#sunfw_section_footer-newsletter h1, #sunfw_section_footer-newsletter .h1 {
  font-size: 33px;
}
#sunfw_section_footer-newsletter h2, #sunfw_section_footer-newsletter .h2 {
  font-size: 27px;
}
#sunfw_section_footer-newsletter h3, #sunfw_section_footer-newsletter .h3 {
  font-size: 23px;
}
#sunfw_section_footer-newsletter h4, #sunfw_section_footer-newsletter .h4 {
  font-size: 17px;
}
#sunfw_section_footer-newsletter h5, #sunfw_section_footer-newsletter .h5 {
  font-size: 13px;
}
#sunfw_section_footer-newsletter h6, #sunfw_section_footer-newsletter .h6 {
  font-size: 12px;
}
